@media screen and (max-width: 800px) {
    body {
        background-image: url("https://images.fpt.shop/unsafe/filters:quality(5)/fptshop.com.vn/uploads/images/tin-tuc/176406/Originals/jake-blucker-tMzCrBkM99Y-unsplash.jpg");
        background-size: cover;
        object-fit: cover;
        height: 100vh;
    }

    .nav-item {
        display: none;
    }

    nav>.btn-bars {
        display: block;
        padding: 10px;
        margin: 5px;
    }
}